body{
	font-family: arial,sans-serif;
	margin: 0;
	padding: 0;
	background-color: #f2f2f2;
}
#header{
	width:100%;
	height: 60px;
	background-color: #333;
	box-shadow: 0px 4px 2px #333;
}
#header>h1{
	width: 100%;
	margin: 0;
	color: ghostwhite;
	padding-top: 10px;
	padding-left: 10px;
}
#header>h1>span{
	color: #0099FF;
}
#converse{
	width: 300px;
	height: 400px;
	margin: 0 auto;
	border: 1px solid #AAA;
	background-color: ghostwhite;
	padding: 5px;
	overflow: scroll;
}
#chat-box{
	width: 300px;
	height: 400px;
	padding: 0;
	position: absolute;
	left: 500px;
	top: 400px;
}
#chat-user{
	color: #0055FF;
	font-weight: bold;
	font-size: 90%;
}
#controls{
	margin: 0;
	border: 1px solid #AAA;
	height: 50px;
	width: 300px;
	background-color: white;
}
#textbox{
	width: 250px;
	height: 48px;
	min-height: 48px;
	max-height: 48px;
	border: none;
	padding: 10px;
}
textarea{
	resize:none;
}
#send{
	background-color: #0055FF;
	border: none;
	height :48px;
	width: 48px;
	border-radius: 50%;
}
#send:focus{
	outline: none;
}
.controls-elements{
	float: left;
}
#send-icon{
	color: white;
}
